$md-sys-color-primary: rgb(171 199 255) !default;
$md-sys-color-surface-tint: rgb(171 199 255) !default;
$md-sys-color-on-primary: rgb(12 48 95) !default;
$md-sys-color-primary-container: rgb(40 70 119) !default;
$md-sys-color-on-primary-container: rgb(215 226 255) !default;
$md-sys-color-secondary: rgb(190 198 220) !default;
$md-sys-color-on-secondary: rgb(40 48 65) !default;
$md-sys-color-secondary-container: rgb(62 71 89) !default;
$md-sys-color-on-secondary-container: rgb(218 226 249) !default;
$md-sys-color-tertiary: rgb(221 188 224) !default;
$md-sys-color-on-tertiary: rgb(63 40 68) !default;
$md-sys-color-tertiary-container: rgb(87 62 92) !default;
$md-sys-color-on-tertiary-container: rgb(250 216 253) !default;
$md-sys-color-error: rgb(255 180 171) !default;
$md-sys-color-on-error: rgb(105 0 5) !default;
$md-sys-color-error-container: rgb(147 0 10) !default;
$md-sys-color-on-error-container: rgb(255 218 214) !default;
$md-sys-color-background: rgb(17 19 24) !default;
$md-sys-color-on-background: rgb(226 226 233) !default;
$md-sys-color-surface: rgb(17 19 24) !default;
$md-sys-color-on-surface: rgb(226 226 233) !default;
$md-sys-color-surface-variant: rgb(68 71 78) !default;
$md-sys-color-on-surface-variant: rgb(196 198 208) !default;
$md-sys-color-outline: rgb(142 144 153) !default;
$md-sys-color-outline-variant: rgb(68 71 78) !default;
$md-sys-color-shadow: rgb(0 0 0) !default;
$md-sys-color-scrim: rgb(0 0 0) !default;
$md-sys-color-inverse-surface: rgb(226 226 233) !default;
$md-sys-color-inverse-on-surface: rgb(46 48 54) !default;
$md-sys-color-inverse-primary: rgb(66 94 145) !default;
$md-sys-color-primary-fixed: rgb(215 226 255) !default;
$md-sys-color-on-primary-fixed: rgb(0 27 63) !default;
$md-sys-color-primary-fixed-dim: rgb(171 199 255) !default;
$md-sys-color-on-primary-fixed-variant: rgb(40 70 119) !default;
$md-sys-color-secondary-fixed: rgb(218 226 249) !default;
$md-sys-color-on-secondary-fixed: rgb(19 28 43) !default;
$md-sys-color-secondary-fixed-dim: rgb(190 198 220) !default;
$md-sys-color-on-secondary-fixed-variant: rgb(62 71 89) !default;
$md-sys-color-tertiary-fixed: rgb(250 216 253) !default;
$md-sys-color-on-tertiary-fixed: rgb(41 19 46) !default;
$md-sys-color-tertiary-fixed-dim: rgb(221 188 224) !default;
$md-sys-color-on-tertiary-fixed-variant: rgb(87 62 92) !default;
$md-sys-color-surface-dim: rgb(17 19 24) !default;
$md-sys-color-surface-bright: rgb(55 57 62) !default;
$md-sys-color-surface-container-lowest: rgb(12 14 19) !default;
$md-sys-color-surface-container-low: rgb(26 28 32) !default;
$md-sys-color-surface-container: rgb(30 32 37) !default;
$md-sys-color-surface-container-high: rgb(40 42 47) !default;
$md-sys-color-surface-container-highest: rgb(51 53 58) !default;
$md-extended-color-SecondColor-color: rgb(199 204 121) !default;
$md-extended-color-SecondColor-on-color: rgb(48 51 0) !default;
$md-extended-color-SecondColor-color-container: rgb(70 74 2) !default;
$md-extended-color-SecondColor-on-color-container: rgb(228 232 146) !default;
$md-extended-color-information-prompt-color: rgb(168 200 255) !default;
$md-extended-color-information-prompt-on-color: rgb(6 48 95) !default;
$md-extended-color-information-prompt-color-container: rgb(37 71 119) !default;
$md-extended-color-information-prompt-on-color-container: rgb(214 227 255) !default;
$md-extended-color-tip-prompt-color: rgb(175 209 140) !default;
$md-extended-color-tip-prompt-on-color: rgb(29 55 2) !default;
$md-extended-color-tip-prompt-color-container: rgb(51 78 23) !default;
$md-extended-color-tip-prompt-on-color-container: rgb(203 238 165) !default;
$md-extended-color-warning-prompt-color: rgb(247 187 112) !default;
$md-extended-color-warning-prompt-on-color: rgb(70 42 0) !default;
$md-extended-color-warning-prompt-color-container: rgb(101 62 0) !default;
$md-extended-color-warning-prompt-on-color-container: rgb(255 221 183) !default;
$md-extended-color-danger-prompt-color: rgb(255 180 171) !default;
$md-extended-color-danger-prompt-on-color: rgb(86 30 25) !default;
$md-extended-color-danger-prompt-color-container: rgb(115 51 45) !default;
$md-extended-color-danger-prompt-on-color-container: rgb(255 218 214) !default;

$md-sys-elevation-level1: linear-gradient(0deg, rgba(103, 80, 164, 0.05), rgba(103, 80, 164, 0.05)),
 $md-sys-color-background !default;
$md-sys-elevation-level2: linear-gradient(0deg, rgba(103, 80, 164, 0.08), rgba(103, 80, 164, 0.08)),
 $md-sys-color-background !default;
$md-sys-elevation-level3: linear-gradient(0deg, rgba(103, 80, 164, 0.11), rgba(103, 80, 164, 0.11)),
 $md-sys-color-background !default;
$md-sys-elevation-level4: linear-gradient(0deg, rgba(103, 80, 164, 0.12), rgba(103, 80, 164, 0.12)),
 $md-sys-color-background !default;
$md-sys-elevation-level5: linear-gradient(0deg, rgba(103, 80, 164, 0.14), rgba(103, 80, 164, 0.14)),
  !default;
