$md-sys-color-primary: #abc7ff !default;
$md-sys-color-surface-tint: #abc7ff !default;
$md-sys-color-on-primary: #0c305f !default;
$md-sys-color-primary-container: #284677 !default;
$md-sys-color-on-primary-container: #d7e2ff !default;
$md-sys-color-secondary: #bec6dc !default;
$md-sys-color-on-secondary: #283041 !default;
$md-sys-color-secondary-container: #3e4759 !default;
$md-sys-color-on-secondary-container: #dae2f9 !default;
$md-sys-color-tertiary: #ddbde0 !default;
$md-sys-color-on-tertiary: #3f2844 !default;
$md-sys-color-tertiary-container: #573e5c !default;
$md-sys-color-on-tertiary-container: #fad8fd !default;
$md-sys-color-error: #ffb4ab !default;
$md-sys-color-on-error: #690005 !default;
$md-sys-color-error-container: #93000a !default;
$md-sys-color-on-error-container: #ffdad6 !default;
$md-sys-color-background: #111318 !default;
$md-sys-color-on-background: #e2e2e9 !default;
$md-sys-color-surface: #111318 !default;
$md-sys-color-on-surface: #e2e2e9 !default;
$md-sys-color-surface-variant: #44474e !default;
$md-sys-color-on-surface-variant: #c4c6d0 !default;
$md-sys-color-outline: #8e9099 !default;
$md-sys-color-outline-variant: #44474e !default;
$md-sys-color-shadow: #000000 !default;
$md-sys-color-scrim: #000000 !default;
$md-sys-color-inverse-surface: #e2e2e9 !default;
$md-sys-color-inverse-on-surface: #2e3036 !default;
$md-sys-color-inverse-primary: #425e91 !default;
$md-sys-color-primary-fixed: #d7e2ff !default;
$md-sys-color-on-primary-fixed: #001b3f !default;
$md-sys-color-primary-fixed-dim: #abc7ff !default;
$md-sys-color-on-primary-fixed-variant: #284677 !default;
$md-sys-color-secondary-fixed: #dae2f9 !default;
$md-sys-color-on-secondary-fixed: #131c2b !default;
$md-sys-color-secondary-fixed-dim: #bec6dc !default;
$md-sys-color-on-secondary-fixed-variant: #3e4759 !default;
$md-sys-color-tertiary-fixed: #fad8fd !default;
$md-sys-color-on-tertiary-fixed: #29132e !default;
$md-sys-color-tertiary-fixed-dim: #ddbce0 !default;
$md-sys-color-on-tertiary-fixed-variant: #573e5c !default;
$md-sys-color-surface-dim: #111318 !default;
$md-sys-color-surface-bright: #37393e !default;
$md-sys-color-surface-container-lowest: #0c0e13 !default;
$md-sys-color-surface-container-low: #1a1c20 !default;
$md-sys-color-surface-container: #1e2025 !default;
$md-sys-color-surface-container-high: #282a2f !default;
$md-sys-color-surface-container-highest: #33353a !default;
$md-extended-color-SecondColor-color: #c7cc79 !default;
$md-extended-color-SecondColor-on-color: #303300 !default;
$md-extended-color-SecondColor-color-container: #464a02 !default;
$md-extended-color-SecondColor-on-color-container: #e4e892 !default;
$md-extended-color-information-prompt-color: #a8c8ff !default;
$md-extended-color-information-prompt-on-color: #06305f !default;
$md-extended-color-information-prompt-color-container: #254777 !default;
$md-extended-color-information-prompt-on-color-container: #d6e3ff !default;
$md-extended-color-tip-prompt-color: #afd18c !default;
$md-extended-color-tip-prompt-on-color: #1d3702 !default;
$md-extended-color-tip-prompt-color-container: #334e17 !default;
$md-extended-color-tip-prompt-on-color-container: #cbeea5 !default;
$md-extended-color-warning-prompt-color: #f7bb70 !default;
$md-extended-color-warning-prompt-on-color: #462a00 !default;
$md-extended-color-warning-prompt-color-container: #653e00 !default;
$md-extended-color-warning-prompt-on-color-container: #ffddb7 !default;
$md-extended-color-danger-prompt-color: #ffb4ab !default;
$md-extended-color-danger-prompt-on-color: #561e19 !default;
$md-extended-color-danger-prompt-color-container: #73332d !default;
$md-extended-color-danger-prompt-on-color-container: #ffdad6 !default;

$md-sys-elevation-level1: linear-gradient(0deg, #6750a40d, #6750a40d),
 $md-sys-color-background !default;
$md-sys-elevation-level2: linear-gradient(0deg, #6750a414, #6750a414),
 $md-sys-color-background !default;
$md-sys-elevation-level3: linear-gradient(0deg, #6750a41c, #6750a41c),
 $md-sys-color-background !default;
$md-sys-elevation-level4: linear-gradient(0deg, #6750a41f, #6750a41f),
 $md-sys-color-background !default;
$md-sys-elevation-level5: linear-gradient(0deg, #6750a424, #6750a424),
  !default;
