@use "sass:color";
// 
// Dark Theme
// 

//                                                   //
//-------------Basic settings-----------------------//
//                                                 //
$primary_color: #1d2127 !default;
$link-color: #4dd0e1 !default;
$text-color: #e7e7e7 !default;
$text-mute-color: color.scale($text-color, $lightness: -50%) !default;

//                                                     //
//-------------Advance settings-----------------------//
//                                                   //
// 
// Header
// 
$header-link-color: color.scale($text-color, $lightness: -40%) !default;
$site-header-bg: color.scale($primary_color, $lightness: -5%) !default;

// 
// Site Home Banner
// 
$header-bg-color: $link-color  !default;
$home-header-title-color: color.scale($primary_color, $lightness: -3%) !default;
$btn-download-bg-color: color.scale($home-header-title-color, $lightness: -1%) !default;
$btn-download-hover-color: color.scale($btn-download-bg-color, $lightness: -2%) !default;

// 
// Site Nav
// 
$menu-bdr-color: color.scale($primary_color, $lightness: -6%) !default;
$menu-color: $text-color  !default;
$menu-bg-color-chae: color.scale($primary_color, $lightness: -6%) !default;

// 
// Site Footer
// 
$footer-bg-color: color.scale($primary_color, $lightness: -2%) !default;
$footer-info-bg-color: color.scale($footer-bg-color, $lightness: -2%) !default;
$footer-links-color: color.scale($text-color, $lightness: -10%) !default;
$footer-links-hover-color: color.scale($footer-links-color, $lightness: -30%) !default;

// 
// Error Pages
// 
$error-div-bg-color: color.scale($primary_color, $lightness: -2%) !default;
$error-btn-svg-color: $primary_color  !default;
$error-btn-bg-color: $primary_color  !default;
$error-btn-hover-color: color.scale($error-btn-bg-color, $lightness: -7%) !default;

// 
// Page bar
// 
$page-bar-top-bar-color: color.scale($primary_color, $lightness: -5%) !default;
$page-bar-btn-bg-color: color.scale($primary_color, $lightness: -2%) !default;
$page-bar-svg-color: $text-color  !default;
$page-bar-btn-hover-color: color.scale($page-bar-btn-bg-color, $lightness: -5%) !default;
$page-bar-svg-hover-color: color.scale($page-bar-svg-color, $lightness: -30%) !default;
$page-bar-btn-disabled: color.scale($page-bar-btn-bg-color, $lightness: 5%) !default;

// 
// Button
// 
// $btn-bg-color:           #525252 !default;
// $btn-color-hover:        #353535 !default;
$btn-bg-color: color.scale($primary_color, $lightness: 8%) !default;
$btn-color-hover: color.scale($btn-bg-color, $lightness: -5%) !default;
$btn-text-hover-color: color.scale($text-color, $lightness: -50%) !default;

// 
// Highlight
// 
$highlight-bg-color: color.scale($link-color, $lightness: -20%) !default;
$highlight-text-color: color.scale($text-color, $lightness: -100%) !default;

// 
// Prompt Tip
// 
$prompt-tip-icon-color: #395021 !default;
$prompt-tip-bg-color: #5a8034 !default;

// 
//  Prompt Info
// 
$prompt-info-icon-color: #12447d !default;
$prompt-info-bg-color: #1a61b3 !default;

// 
//  Prompt Warning
// 
$prompt-warning-icon-color: #754e12 !default;
$prompt-warning-bg-color: #b3761a !default;

// 
// Prompt Danger
// s
$prompt-danger-icon-color: #670e0e !default;
$prompt-danger-bg-color: #b31a1a !default;

// 
// Code
// 
$code-background-color: color.scale($primary_color, $lightness: -6%) !default;
$code-text-color: color.scale($text-color, $lightness: -20%) !default;
$blockquote-text-color: color.scale($text-color, $lightness: -40%) !default;

// 
// links
// 
$link-visited-color: $link-color  !default;
$link-hover-color: color.scale($link-color, $lightness: -33%) !default;

// 
// Table
// 
$table-text-color: $text-color  !default;
$table-zebra-color: color.scale($primary_color, $lightness: -2%) !default;
$table-header-bg-color: color.scale($primary_color, $lightness: -3%) !default;

$Github: #f0f6fc !default;

$border-color: color.scale($primary_color, $lightness: 3%) !default;

// 
// Back to Top
// 
$BTT-bg-color:  #4dd0e1 !default;
$BTT-svg-color: rgba(0, 0, 0, 0.54) !default;

@use "colors/dark-theme/highlight"