{%- unless page.layout == "home" -%}
<nav class="site-nav" id="site-nav">
  {%- else -%}
  <nav class="header-home-mod site-nav" id="site-nav">
    {%- endunless -%}

    <input type="checkbox" id="site-nav-check-btn" />
    <label for="site-nav-check-btn">
      <span class="material-icons-round checkbtn"> menu </span>
    </label>

    <a class="site-nav-logo" href="{{ site.baseurl }}/">
      <span>BAM</span>
      <span>BlogPost</span>
    </a>
    <div class="site-nav-clickable-wrapper">
      <div class="site-nav-link-container" id="site-nav-links">
        <input type="checkbox" id="site-nav-close-btn" />
        <label for="site-nav-close-btn">
          <span class="material-icons-round checkbtn ">
            menu_open
          </span>
        </label>
        <a href="{{ site.Header.header_link_1 | relative_url }}">{{site.Header.header_name_1}}</a>
        <a id="link-with-hover">
          {{site.Header.header_name_2}}
          <div class="dropdown-content" id="nav-dropdown">
            <a href="{{ "Outputs/RT1" | relative_url }}">RT 1</a>
            <a href="{{ "Outputs/RT2" | relative_url }}">RT 2</a>
            <a href="{{ "Outputs/RT3" | relative_url }}">RT 3</a>
            <a href="{{ "Outputs/RT4" | relative_url }}">RT 4</a>
            <a href="{{ "Outputs/RT5" | relative_url }}">RT 5</a>
          </div>
        </a>
        <a href="{{ site.Header.header_link_4 | relative_url }}">{{site.Header.header_name_4}}</a>
        <a href="{{ site.Header.header_link_3 | relative_url }}">{{site.Header.header_name_3}}</a>
      </div>
    </div>
  </nav>
  <div class="site-nav-scrim" id="nav-scrim"></div>