@use "colors/dark-theme/theme-dark" as *;

@use "layouts/variable" as *;
@use "layouts/typography" as *;

@use "Material/colors" as *;
@use "Material/palette" as *;

html {
  overflow-x: hidden;
  scroll-behavior: smooth;

  ::selection {
    background: $md-extended-color-SecondColor-color;
    color: $md-extended-color-SecondColor-on-color;
  }
}

//
// Resetting elements
//

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
hr,
dl,
dd,
ol,
ul,
figure {
  margin: 0;
  padding: 0;
}

* {
  @include horizontal-scroll;
  margin: 0;
  padding: 0;
}

//  set `margin-bottom` to maintain vertical alignment
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
ul,
ol,
figure,
%vertical-rhythm {
  margin-bottom: 15px;
}

body {
  @include body-medium;
  @include background;
  // font: $font-weight #{$font-size}/#{$line-height} $font-family;
  -webkit-text-size-adjust: 100%;
  font-kerning: normal;
  min-height: 100vh;
  flex-direction: column;
  overflow-wrap: break-word;
  display: flex;
  line-height: 40px;
}

hr {
  margin-top: $font-spacing;
  margin-bottom: $font-spacing;
  border: 0;
  border-top: 2px solid $md-sys-color-outline;
  border-radius: 7px;
}

p {
  line-height: 26px;
}
//
// wrapper
//
.wrapper {
  padding: 0 $font-spacing - 5 0 $font-spacing - 5;
  margin: 0 auto 0 auto;
  max-width: $content-width + 100;
}

.footer-wrapper {
  padding: 0 $font-spacing - 5 0 $font-spacing - 5;
  margin: 0 auto 0 auto;
  max-width: 1168px;
}

.article-wrapper {
  padding: 12px $font-spacing - 5 0 $font-spacing - 5;
  margin: 0 auto 0 auto;
  max-width: 1000px;

  p {
    text-align: justify;
    text-indent: 10%;
  }
}

.outputs-content {
  @include secondary;
  display: grid;
  grid-template-columns: 80vh 1fr;
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
  padding: 30px 2% 0 2%;

  div > p {
    text-align: justify;
    text-indent: 10%;
  }

  img {
    border-radius: 12px;
  }

  > div {
    margin-left: 30px;
  }

  @media screen and (max-width: 1000px) {
    display: block;
    img {
      max-width: 70%;
      height: 70%;
      border-radius: 12px;
    }
    div {
      margin: 0px;
    }
  }
}

.content {
  padding: 30px 0 30px;
  flex: 1 0 auto;
  overflow: hidden;
  opacity: 0;
  transform: translateY(3rem);
  animation: 208.898ms linear 0s 1 normal forwards running slide-up;
  animation-delay: 252.00568990042672ms;
}

//
// Headers
//
h1 {
  @include headline-large;
}
h2 {
  @include headline-medium;
}
h3 {
  @include headline-small;
}
h4 {
  @include title-large;
}
h5 {
  @include title-medium;
}
h6 {
  @include title-small;
}

//
// Lists
//
ul,
ol {
  margin-left: $font-spacing;
}

//
// Links
//
a {
  text-decoration: none;
  transition: $transition-links;
  color: $md-extended-color-SecondColor-color;
  font-weight: 700;

  &:hover {
    color: $md-extended-color-SecondColor-on-color-container;
    text-decoration: none;
  }
}

li {
  > ul,
  > ol {
    margin-bottom: 0;
  }
}

//
// Image
//
img {
  max-width: 100%;
  height: auto;
}

//
// BOLD
//
strong {
  font-weight: 900;
  font-size: 18px;
  letter-spacing: 3px;
}

//
// Figures
//
figure > img {
  display: block;
}

figcaption {
  @include body-small;
}

//
//  Blockquote
//
blockquote {
  color: $blockquote-text-color;
  border-left: 4px solid $code-background-color;
  padding-left: calc($font-spacing / 2);
  font-style: italic;

  > :last-child {
    margin-bottom: 0;
  }

  i,
  em {
    font-style: normal;
  }
}

//
//  Code format
//
pre,
code {
  border: 1px solid $code-background-color;
  border-radius: 4px;
  font-weight: 700;
  background-color: $code-background-color;
  color: $code-text-color;
  line-height: 1.5rem;
  padding: 1px 5px;

  @include horizontal-scroll();
  a {
    color: inherit !important;
    border-bottom: none !important;
    pointer-events: none;
  }
}
pre {
  overflow-x: auto;
  border: 0;

  > code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
  }
}

.rouge-table {
  width: 0%;

  .rouge-gutter {
    padding: 0px;
    border: 0px;
  }

  td.rouge-code {
    padding-left: 1rem;
    border: 0px;
  }

  border: 0px;
  margin-bottom: 0px;
}

.highlight {
  border-radius: 5px;
  background: $code-background-color;
  border: 0px;
  @extend %vertical-rhythm;

  pre {
    margin-bottom: 0;
    font-size: $code-font-family;
    // line-height: 1.5rem;
    word-wrap: normal;
    /* Fixed Safari overflow-x */
  }

  .lineno {
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 7px;
    padding-right: 0px;
    width: 1%;

    min-width: 20px;
    text-align: right;
    color: $text-mute-color;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
  }

  //  set the dollar sign to non-selectable
  .gp {
    user-select: none;
  }

  table {
    td pre {
      overflow: visible; // Fixed iOS safari overflow-x
      word-break: normal; // Fixed iOS safari linenos code break
    }
  }

  .highlighter-rouge & {
    background: $code-background-color;
  }
}

// Removes the line numbers default snippets
div {
  &[class^="highlighter-rouge"],
  &.language-plaintext.highlighter-rouge,
  &.language-console.highlighter-rouge,
  &.language-terminal.highlighter-rouge,
  &.nolineno {
    pre.lineno {
      display: none;
    }

    td.rouge-code {
      padding: 8px 12px;
    }

    pre.highlight {
      padding: 0px;
      padding-bottom: 0px;
    }
  }
}

dl {
  padding: 0;

  dt {
    padding: 0;
    margin-top: 1rem;
    font-size: $font-size;
    font-weight: 690;
  }

  dd {
    margin-inline-start: 40px;
  }
}

//
// 404 page
//
.container-404 {
  margin: 10px auto;
  max-width: 400px;
  text-align: center;
  background-color: $md-sys-color-surface-container-high;
  border-radius: 20px;
  align-content: center;
  .prompt-404 {
    display: flex;
    flex-direction: column;
    align-items: center;
    .paragraph-404 {
      > p {
        margin-bottom: 0px;
        line-height: 2;

        &:last-child {
          margin-bottom: 15px;
        }
      }
    }

    .btn-404 {
      display: inline-block;
      padding: 24px 70px 24px 70px;
      margin-bottom: 50px;
      @include on-primary-container;
      @include title-small;
      transition: all 0.2s ease-in-out;
      border-radius: 30px;

      &,
      &:visited {
        @include on-primary-container;
      }

      &:hover {
        border-radius: 12px;
      }
    }
    > svg {
      height: 220px;
      width: 220px;
      margin-left: 3px;
      margin-right: 5px;
      margin-top: 50px;
      fill: $md-sys-color-on-surface;
    }
  }
}

//
// Design Elements
//

.window {
  @include outline;
  margin: 50px 30px;
  background: $md-sys-color-surface-container;
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  border-radius: 12px;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  overflow: hidden;

  @media screen and (max-width: 600px) {
    margin: 20px 5px;
  }
}

.window-container {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.window-sidebar {
  width: 200px;
  background: $md-sys-color-background;
  padding: 15px 20px;
  border-right: 1px solid $md-sys-color-outline-variant;

  .sidebar-section {
    @include label-large;
    // letter-spacing: 5px;
    margin: 15px 0 5px 10px;
  }

  .sidebar-item {
    @include label-medium;
    padding: 10px 10px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: default;
  }
  .active {
    @include on-inverse-surface;
  }

  @media screen and (max-width: 993px) {
    display: none;
  }
}

.window-title-bar {
  @include primary-container;
  cursor: default;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-top-left-radius: 1px;
  border-top-right-radius: 5px;

  p {
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;
    font-size: 1rem;
    font-weight: 700;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &.paginator {
    @media screen and (max-width: 593px) {
      p {
        display: none;
      }
    }
  }

  .window-title-bar-control {
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 50%;
    margin-right: 5px;

    .control {
      border-radius: 12px;
      padding: 4px;
      font-weight: 900;
    }
  }
}

.output-container {
  @include secondary;
  height: 4fr;

  .output-folder {
    @include primary;
    display: flex;
    align-items: center;
    border: 2px solid $border-color;
    border-radius: 12px;

    .output-folder-icon {
      font-size: 100px;
    }

    .output-folder-name {
      @include title-small;
      font-size: 34px;
      margin: 0px;
      padding-top: 10px;
    }

    a {
      color: inherit;
    }
    &:hover {
      @include md-sys-elevation-level5($md-sys-color-primary);
    }
  }

  @media (max-width: $defualt-width) {
    display: flex;
    flex-direction: column;
  }
}

// Mixin for the grid layout to ensure header and rows align perfecty
@mixin list-grid {
  display: grid;
  // Columns: Name (flexible), subject (fixed), Type (fixed), Size (fixed)
  grid-template-columns: 40% 30% 20% 20%;
  align-items: center;
  gap: 10px;
  padding: 0 10px;

  @media screen and (max-width: 593px) {
    grid-template-columns: 50% 50% 0% 0%;
  }
}

.explorer-window {
  width: 100%;
}

// Header Styling
.explorer-header {
  @include list-grid;
  @include label-small;
  line-height: 40px;
  border-right: 1px solid transparent; // Placeholder for formatting
  padding-bottom: 8px;
  padding-top: 8px;
  user-select: none;

  .col {
    position: relative;
    padding-left: 5px;
    border-right: 1px solid transparent;
    cursor: default;

    &:hover {
      @include surface;
    }

    // The divider line between headers
    &:not(:last-child):after {
      content: "";
      position: absolute;
      right: 0;
      top: 20%;
      height: 60%;
      width: 1px;
      background-color: $md-sys-color-outline;
    }

    @media screen and (max-width: 593px) {
      &.type,
      &.size {
        display: none;
      }
    }
  }

  .sort-arrow {
    font-size: 10px;
    margin-left: 5px;
    display: inline-block;
    transform: rotate(180deg); // Pointing up
  }
}

// Row Styling
.file-list {
  .file-row {
    @include list-grid;
    padding: 10px 6px;
    cursor: pointer;
    border: 1px solid transparent; // Prevents layout shift on border hover

    // Hover Effect
    &:hover {
      @include surface;
    }

    .col {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      &.name {
        color: $md-sys-color-on-surface;
        display: flex;
        align-items: center;
        gap: 10px;
      }

      &.subject,
      &.type,
      &.size {
        color: $md-sys-color-on-surface-variant;
      }

      @media screen and (max-width: 593px) {
        padding: 10px 0px;
        &.type,
        &.size {
          display: none;
        }
      }
    }
  }
}

.list-emphasis {
  background-color: $md-sys-color-surface-container-low;
  border-radius: 8px;
}
