<!DOCTYPE html>
<html>
{%- include Head.html-%}

<body>
  {%- include Header.html-%}
  <article class="window">
    <div class="window-title-bar">
      <p>C:/Users/BAM/Outputs/{{ page.title }}</p>

      <div class="window-title-bar-control">
        <span class="material-icons-round control">
          minimize
        </span>
        <span class="material-icons-round control">
          crop_square
        </span>
        <span class="material-icons-round control">
          close
        </span>
      </div>
    </div>
    <main class="article-wrapper">
      <div>
        <header class="outputs-header">
          <h1 class="outputs-title">{{ page.title | escape }}</h1>
          <div class="outputs-meta">
            {% if site.socials.name %} {% assign author = site.socials.name %} {% endif %} {% if
            page.author %} {% assign author = page.author %} {% endif %} By
            <span itemprop="name">{{ author }}</span>
          </div>
          </span>
        </header>
        {% include assets/anchor-headings.html html=content anchorBody="#" %}
      </div>
    </main>
  </article>
  </div>
  {%- include assets/BTT.html-%} {%- include Footer.html-%}
</body>

</html>